.App {
  text-align: center;
}


.player-details {
  text-align: left;
  margin-left: 1%;
  height: 100px;
  height: 130px;
  background-color: #09d3ac;
  padding: 1%;
  width: 400px;
  box-shadow: 0.5px 2px 7px #282c34;
}

.p-cards {
  display: flex;
  flex-direction: row;
  width: 1185px;
  padding: 6%;
  margin-left: 0;
  margin: 0;
  background-color: white;
  margin-top: 1%;
  box-shadow: 0.5px 2px 7px #282c34;
  flex-flow: wrap;
  justify-content: center;
  height: 100%;
}